{% extends "layout/base.html" %}
{% block title %}
cart
{{ super() }}
{% endblock title %}

{% block main %}
    <main id="main">
        <section class="section cart__area">
            <div class="container">
                <div class="responsive__cart-area">
                    <form class="cart__form">
                        <div class="cart__table table-responsive">
                            <table width="100%" class="table">
                                <thead>
                                    <tr>
                                        <th>PRODUCT</th>
                                        <th>NAME</th>
                                        <th>UNIT PRICE</th>
                                        <th>QUANTITY</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody class="product__content">
                                    {% for item in current_user.cart.items %}
                                    <tr>
                                        <td class="product__thumbnail">
                                            <a href="/product/{{ item.product.id }}">
                                                <img src="{{ item.product.image.image_url }}" alt="{{ item.product.image.alt_text }}">
                                            </a>
                                        </td>
                                        <td class="product__name">
                                            <a href="#">{{ item.product.name[:20] }}</a>
                                            <br><br>
                                            {% if item.product.brand %}
                                            <small>{{ item.product.brand.name }}</small>
                                            {% endif %}
                                        </td>
                                        <td class="product__price">
                                            <div class="price">
                                                <span class="new__price">₦{{ "{:,.2f}".format(item.product.price) }}</span>
                                            </div>
                                        </td>
                                        <td class="product__quantity">
                                            <div class="input-counter">
                                                <div>
                                                    <span class="minus-btn" data-id="{{ item.product.id }}">
                                                        <svg>
                                                            <use xlink:href="/static/images/sprite.svg#icon-minus"></use>
                                                        </svg>
                                                    </span>
                                                    <input value="{{ item.quantity }}" type="text" min="1" value="1" max="{{ item.quantity if item.quantity > 10 else 10}}" class="counter-btn">
                                                    <span class="plus-btn" data-id="{{ item.product.id }}">
                                                        <svg>
                                                            <use xlink:href="/static/images/sprite.svg#icon-plus"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="product__subtotal">
                                            <div class="price">
                                                <span class="new__price">₦{{ "{:,.2f}".format((item.total)) }}</span>
                                            </div>
                                            <a href="/customer/cart/{{ item.product.id }}" class="remove__cart-item" data-id="{{ item.product.id }}">
                                                <svg>
                                                    <use xlink:href="/static/images/sprite.svg#icon-trash"></use>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="cart-btns">
                            <div class="continue__shopping">
                                <a href="/">Continue Shopping</a>
                            </div>
                            <div class="check__shipping">
                                <input type="checkbox">
                                <span>Shipping(+7₦)</span>
                            </div>
                        </div>

                        <div class="cart__totals">
                            <h3>Cart Totals</h3>
                            <ul>
                                <li>
                                    Subtotal
                                    <span class="new__price total">₦{{ "{:,.2f}".format(current_user.cart.total_items) }}</span>
                                </li>
                                <li>
                                    Shipping
                                    <span>₦0</span>
                                </li>
                                <li>
                                    Total
                                    <span class="new__price total">₦{{ "{:,.2f}".format(current_user.cart.total_items) }}</span>
                                </li>
                            </ul>
                            <a href="/customer/order/checkout">PROCEED TO CHECKOUT</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Facility Section -->
        {% include "components/index/facility.html" %}
    </main>
{% endblock main %}
{% block custom_js %}
<script src="/static/scripts/cartDetails.js?{{ cache_id }}"></script>
{% endblock %}
